/* You can add global styles to this file, and also import other style files */
body {
  background: #f7f1e9;
  font-family: 'sans-serif', 'Arial';
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}
